<!DOCTYPE html>
    <html lang = "en">
    <head>
        <title>The Hunger Games: F.A.Q</title>
        <meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../../static/css/style.css">
		<link rel="shortcut icon" href="../static/images/mini-logo.png">
    </head>
    <body>
		<script src="../static/js/jquery.js"></script>
		<script src="../static/js/jquery.localize.js"></script>
		<script src="../static/js/main.js"></script>
		
		<img class="logo" title="Don't Starve Together: The Hunger Games" src="../static/images/logo.png">
		<div id="main">
			<img class="divider-top" src="../static/images/divider_top.png">
			<div class="tab">
				<a class="tab_button" href="/" data-localize="tabs.main">Main</a>
				<a class="tab_button" href="/news" data-localize="tabs.news">News</a>
				<!-- <a class="tab_button" href="/newbies" data-localize="tabs.newbies">Newbies</a> -->
				<a class="tab_button" href="/top" data-localize="tabs.top">Top</a>
				<a class="tab_button" href="/tributes" data-localize="tabs.tributes">Tributes</a>
				<a class="tab_button active" data-localize="tabs.faq">F.A.Q</a>
				<a class="tab_button" href="/contacts" data-localize="tabs.contacts">Contacts</a>
			</div>
			<div id="main_border">
				<h1 class="top-header" data-localize="faq.title">Frequently Asked Questions</h1>
				<img class="divider-playerstop-top" src="../static/images/timer_divider_top.png">
				<div id="info">
					<div class="question-block">
						<ul>
							<li class="question-mark" data-localize="faq.1.question">My game has crashed, what should I do?</li>
							<li class="answer-mark" data-localize="faq.1.answer">Do not launch the game again, copy the log file and send it to one of the developers.</li>
						</ul>
						
						<img class="divider-playerstop-bottom" src="../static/images/divider-between.png">
						
						<ul>
							<li class="question-mark" data-localize="faq.2.question">Where can I find my log?</li>
							<li class="answer-mark" data-localize="faq.2.answer">Follow the path below and find the file client_log.txt <br>(%USERNAME% replace with your username)</li>
						</ul>
						
						<img class="divider-playerstop-bottom" src="../static/images/divider-between.png">
						
						<ul>
							<li class="question-mark" data-localize="faq.3.question">How can I contact the developers?</li>
							<li class="answer-mark" data-localize="faq.3.answer">You can contact one of the developers using our Discord, VK, Instagram. All links can be found in the tab \"Contacts\"</li>
						</ul>
						
						<img class="divider-playerstop-bottom" src="../static/images/divider-between.png">
						
						<ul>
							<li class="question-mark" data-localize="faq.4.question">Some of my mods do not work or work incorrectly, what should I do?</li>
							<li class="answer-mark" data-localize="faq.4.answer">Our server has an anti-cheat system installed, it blocks mods that give you an advantage over other players.</li>
						</ul>
						
						<img class="divider-playerstop-bottom" src="../static/images/divider-between.png">
						
						<ul>
							<li class="question-mark" data-localize="faq.5.question">I noticed a player who uses game bugs to his advantage, what should I do?</li>
							<li class="answer-mark" data-localize="faq.5.answer">Collect enough evidence and provide it to one of the developers or moderators.</li>
						</ul>
						
						<img class="divider-playerstop-bottom" src="../static/images/divider-between.png">

						<ul>
							<li class="question-mark" data-localize="faq.6.question">I want to cooperate!</li>
							<li class="answer-mark" data-localize="faq.6.answer">If you want to help the project in some way - contact one of the developers and provide a small dossier about yourself.</li>
						</ul>
					</div>	
				</div>			
				<img class="divider-playerstop-bottom" src="../static/images/timer_divider_bottom.png">
			</div>
		</div>
		<script>translatePage()</script>  
    </body>
</html>
